.title{
    text-align: center;
    font-size: 3rem;
}

.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.image{
    border-radius: 30px;
}

.col{
    max-width: 400px;
    margin:15px;

}

.movieDetails{
    font-size: 30px
}

@media (max-width: 560px) {
    .image{
        width: 90%;
        height: auto;
    }
}